body {
    background: pink;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

ul {
    font-size: 2em;
}

#good-teams {
    font-size: 2em;
}

#bad-teams {
    font-size: 2em;
}

#mlb-teams {
    font-size: 2em;
}

#countdowns,
#countMLB,
#countNFL,
#countNBA,
#countNHL {
    font-size: 2em;
}

#thoughts {
    color: pink;
    font-size: 1px;
}